---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Juan Gaviria, a front-end software developer from Colombia.
      <br />
       My favorite tools to use are:

      <div class="grid grid-cols-2">
        <ul class="list-disc list-inside">
          <li>Html5</li>
          <li>Css</li>
          <li>Javascript</li>
          <li>React</li>
          <li>Nextjs</li>
          <li>Nodejs</li>
        </ul>
        <ul class="list-disc list-inside">
          <li>Astro</li>
          <li>Tailwind</li>
          <li>Bootstrap</li>
          <li>Firebase</li>
          <li>Redux</li>
          <li>Playwright</li>
        </ul>
      </div>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm a tech enthusiast and a passionate dog lover. My
      fascination with hardware goes beyond the surface; I love unraveling the
      intricacies of devices to truly understand how they work. Additionally, I
      feel a genuine connection to how technology transforms our everyday lives.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose ones that suit for the
      job.
    </p>
  </div>
</Card>
