---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now?</h2>
      
    </div>
    <Pulse />
  </div>
  <p class="text-sm">Probably playing with my dog, and in addition to that, I am looking for a job as a freelancer or a full-time job. </p>
</Card>
